#profile {
  width: 100vw;
}
.profileTabs {
  display: flex;
  justify-content: center !important;
  height: 50vh;
}
#profile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileData {
  width: 90%;
  height: 75%;
  justify-content: center;
  background: blue;
  color: white;
  border-radius: .28571429rem;
}

.profilePicture {
  display: flex;
  justify-content: center;
  width: 100%;
}
.userInfo {
  color: white !important;
}
.userBio {
  border-radius: 10px;
}