// Variables
$blue: #102542;
$salmon: #F9575F;
$grey: #605F5E;
$lightblue: #247BA0;
$offwhite: #E2E2E2;
$headerFont: 'Viga', sans-serif;
$bodyFontBold: normal 400 12px 'Lato';
$bodyFontLight: normal 300 12px 'Lato';