// Variables
$blue: #102542;
$salmon: #F9575F;
$grey: #605F5E;
$lightblue: #247BA0;
$offwhite: #E2E2E2;

$graduate: 'Viga';
$lato: 'Lato';
$bold: 400;
$light: 300;

$pageWidth: 100vw;
$pageHeight: 100vh;
$transparent: rgba(0, 0, 0, 0);
$darkTransparent: rgba(0, 0, 0, .7);
