$color-blue: #1385e5;
$color-gray: #dfe0e4;
$color-white: #ffffff;
$slider-handle-size: 20px;
$slider-size: 4px;
$slider-fix: 20px;

.calWidget {
  min-width: 400px;
  max-height: 450px;
  display: inline-block;
  input {
    font-size: 14px;
    width: 100%;
  }
}
.m-calendar {
  display: inline-block;
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    line-height: 0.25;
    padding-bottom: 5px !important;
  }

  td {
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    color: gray;
    border: 1px solid gray;
  }

  thead {
    td {
      color: blue;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  tbody td {
    color: #666666;

    &:hover {
      background: blue;
      border-color: blue;
      color: white;
    }
  }

  .current-day {
    color: blue;
    font-weight: bold;
  }

  .prev-month,
  .next-month {
    color: #999999;
  }

  .toolbar {
    line-height: 30px;
    color: blue;
    text-align: center;
    margin-bottom: 13px;

    button {
      position: relative;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #ffffff;
      border: 1px solid blue;
      border-radius: 50%;
      background: blue;
      font-size: 20px;
      padding: 0;
      text-align: center;
      outline: 0;
      z-index: 5;
      cursor: pointer;
    }

    .prev-month {
      float: left;
    }

    .next-month {
      float: right;
    }

    .current-date {
      color: blue;
    }
  }
}

.m-time {
  color: white;

  .showtime {
    text-align: center;
  }

  .separater {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: blue;
    width: 32px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

  .time-text {
    position: relative;
    left: -10px;
    font-size: 15px;
    color: blue;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .sliders {
    padding: 0 10px;
  }

  .time {
    width: 65px;
    display: inline-block;
    font-size: 38px;
    line-height: 65px;
    background-color: blue;
    border-radius: 3px;
    text-align: center;
  }
}

.im-btn {
  display: inline-block;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1;

  &:before {
    margin-right: 6px;
  }
}

.m-input-moment {
  display: inline-block;
  width: 330px;
  padding: 12px 15px;
  border-radius: 3px;
  border: 1px solid gray;

  .options {
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;

    button {
      float: left;
      width: 50%;
      color: blue;
      text-align: center;
      font-size: 16px;
      padding: 7px;
      border: 1px solid blue;
      border-radius: 3px;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.is-active {
        color: #ffffff;
        background-color: blue;
      }
    }
  }

  .tab {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .btn-save {
    display: none;
  }
}

.u-slider-time {
  position: relative;
  display: inline-block;
  background-color: $color-gray;
  border-radius: 3px;
  height: $slider-size;
  width: 100%;
  cursor: pointer;

  .value {
    position: absolute;
    background-color: $color-blue;
    border-radius: 3px;
    top: 0;
    height: 100%;
  }

  .handle {
    position: absolute;
    width: $slider-size;
    height: $slider-size;

    &:after {
      position: relative;
      display: block;
      content: '';
      top: -$slider-fix/2;
      left: -($slider-size+$slider-fix)/2;
      width: $slider-size + $slider-fix;
      height: $slider-size + $slider-fix;
      background-color: #fff;
      border: 3px solid $color-blue;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}