*,
*:before,
*:after {
  box-sizing: border-box !important;
}
$pageWidth: 100vw;
$pageHeight: 100vh;
$transparent: rgba(0, 0, 0, 0);
$fontFamily: 'Viga', sans-serif;

.events-page {
  width: $pageWidth;
  height: $pageHeight;
  font-family: $fontFamily;
}

section {
  display: inline-block;
  margin: 0.25rem;
  padding: 1rem;
  width: 100%;
  background: #efefef;
}


.btn {
  background: transparent;
  border: none;
  width: 100%;
}
/*  styles for background color, etc; not necessary for this thing to work  */

h1 {
  font-size: 3rem;
  font-weight: 800;
}