@import '_variables.scss';

.message-button {
  font-family: $lato;
  font-weight: $bold;
  background-color: $lightblue !important;
}

.ui.label {
  color: $offwhite !important;
}

.eventInfoHeader {
  font-family: $graduate !important;
  text-decoration: underline !important;
}

.date {
  font-family: $lato !important;
  font-weight: $light !important;
}

.description > p, {
  font-family: $lato !important;
  font-weight: $bold !important;
}

.event-description {
  font-family: $lato !important;
  font-weight: $light !important;
}

.ui.blue.button {
  background-color: $lightblue !important;
  &:hover {
    background-color: $blue !important;
  }
}