@import '_variables.scss';

body {
  width: $pageWidth;
  height: $pageHeight;
}

.events-page {
  width: $pageWidth;
  height: $pageHeight;
  background: $transparent;
}

.wrapper {
  width: $pageWidth;
  height: $pageHeight;
}

.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}

.search-input::before {
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: 1px solid $blue !important;
  border-radius: 5px;
  color: $lightblue;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
}

.search-input > input:focus {
  outline: none;
>>>>>>> v1.0/fix/searchBar
}