@import '_variables.scss';

.box {
  padding: 1.5px !important;
  height: 250px;
  cursor: pointer;
  transition-duration: 1s;
}

.ui.container>.ui.stackable.grid>.column, .ui.container>.ui.stackable.grid>.row>.column {
  padding: 1.5px !important;
}

.buffer {
  position: absolute;
  width: 95%;
  bottom: 10px;
  margin-left: 10px;
  transition-duration: 1s;
}

.box:hover .event-item {
  background-size: 115% !important;
  transition-duration: 1s;
}

.box:hover .buffer {
  width: 90%;
  bottom: 30px;
  margin-left: 30px;
  transition-duration: 1s;
}

.event-title {
  font-family: $graduate !important;
  color: $offwhite !important;
}

.event-item-meta {
  color: $offwhite !important;
  font-family: $lato !important;
  font-weight: $light !important;
}

.icon {
  margin-right: 10px;
  margin-left: 30px;
}
