// CSS for Login.jsx

// Variables
$pageWidth: 100vw;
$pageHeight: 100vh;
$transparent: rgba(0, 0, 0, 0);
$blue: #004FFF;
$orange: #FC8000;

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  width: $pageWidth;
  height: $pageHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -100;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
 padding: 0 !important;
}

.ui.header.login-header .content{
  vertical-align: baseline;
}

.ui.grid.login-foreground-grid {
  font-family: 'Viga';
  display: flex;
  align-items: center;
}

.login-header {
  font-size: 120px;
  font-family: 'Viga';  
  color: $blue;
  text-shadow: 0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 0.5px black;
}

.ui.header .sub.header.login-subHeader {
  font-family: 'Viga';
  font-size: 24px;
  color: #FEFEFE;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}