// CSS for Login.jsx

// Variables
@import '_variables.scss';

body {
  width: 100vw;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.login-container {
  width: $pageWidth;
  height: $pageHeight;
  display: block;
  vertical-align: bottom;
  align-items: center;
  justify-content: center;
}
.topHalf {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.zipcode-field {
  width: 33% !important;
  text-align: center !important;
}
.login-down-arrow {
  color: $offwhite !important;
  position: absolute;
  top: 85%;
}
.about-description {
  font-size: 20px;
  font-weight: 400;
}

.team {
  display: flex;
  justify-content: center;
  width: 100%;
}
.team-member {
  display: inline-block;
  padding: 0px 5px;
}
.devName {
  color: white;
}
.team-photo {
  width: 100px;
  height: auto;
  border-radius: 10px;
}
.about {
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us {
  color: black;
  background: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $pageWidth;
  height: 100vh;
  font-family: 'Lato';
}
.about-description {
  font-size: 20px;
  font-weight: 400;
}
.team {
  display: flex;
  justify-content: center;
  width: 100%;
}
.team-member {
  display: inline-block;
  padding: 0px 5px;
}
.devName {
  color: white;
}
.team-photo {
  width: 100px;
  height: auto;
  border-radius: 10px;
}
.about {
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -100;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
 padding: 0 !important;
}

.ui.grid.login-foreground-grid {
  font-family: $graduate;
  display: flex;
  align-items: center;
}

.login-header {
  font-size: 120px;
  font-family: $graduate;  
  color: $lightblue;
  text-shadow: -1px 0 $offwhite, 0 1px $offwhite, 1px 0 $offwhite, 0 -1px $offwhite;
  vertical-align: baseline !important;
}

.ui.header .sub.header.login-subHeader {
  font-family: $lato;
  font-size: 24px;
  color: $salmon;
  text-shadow: -0.5px 0 $blue, 0 0.5px $blue, 0.5px 0 $blue, 0 -0.5px $blue;
}
.footer-divider {
  position: relative;
  top: 25%;
}

.github-repo {
  position: relative;
  top: 20%;
  display: flex;
  align-items: center;
}