$light-blue: #26B5EB;
$dark-blue: #1E90BC;
.ui.menu > a.item {
  min-height: 58px;
}

a.menuBarButton:hover {
  background-color: $dark-blue;
}

a.menuBarButton:active {
  background-color: $light-blue;
}
