@import './_variables.scss';

.ui.menu > a.item {
  min-height: 58px;
}

a.menuBarButton:hover {
  background-color: $lightblue;
}

a.menuBarButton:active {
  background-color: $blue;
}

.ui.menu:not(.vertical) .item {
  height: 100%;
}