@import './_variables.scss';

.ui.menu > a.item {
  min-height: 58px;
}

a.menuBarButton:hover {
  background-color: $lightblue;
}

a.menuBarButton:active {
  background-color: $blue;
}

.ui.menu:not(.vertical) .item {
  height: 100%;
}

.menu-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto !important;
}

.menu-logo-v {
  transform: rotate(-18deg);
  font-family: $graduate;
  font-size: 60px;
  color: $salmon;
  display: flex;
  align-items: center;
}