// CSS for the Profile Container

$fullWidth: 100vw;
$fullHeight: 100vh;

body {
  width: $fullWidth;
  height: $fullHeight;
}

.pageContainer {
  width: $fullWidth;
  height: $fullHeight;
  background: rgba(0, 0, 0, 0);
}
.ui.container.profile-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
}
.ui.fluid.container.profile-container {
  width: 90%;
  background: rgba(0, 0, 0, 0.5);
}

.profile-video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  border: none;
}
.profile-video-foreground,
.profile-video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none;
}

.ui.blue.button.editProfile-button {
  text-align: center;
  vertical-align: middle;
}

.ui.blue.button .hidden.content {
  position: absolute;
  top: 50%;
}