html, body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: red;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#profile {
  width: 100vw;
}
.profileTabs {
  display: flex;
  justify-content: center !important;
  height: 50vh;
}
#profile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileData {
  width: 90%;
  height: 75%;
  justify-content: center;
  background: blue;
  color: white;
  border-radius: .28571429rem;
}
.ui.tabular.menu .item {
  color: skyblue;
}

.ui.tabular.menu .item:hover {
  color: #FC8000;
}

.profilePicture {
  display: flex;
  justify-content: center;
  width: 100%;
}
.userInfo {
  color: white !important;
}
.userBio {
  border-radius: 10px;
}
.ui.vertical.tabular.menu .active.item {
  background: #26B5EB;
  color: white;
}
.userLocation {
  width: 100%;
  white-space: nowrap;
  align-items: flex-start;
}